@layer reset, theme, base, mui, components, utilities;

@import "tailwindcss";
@import "tw-animate-css";

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	body {
		margin: unset;
	}
	button,
	input,
	textarea,
	select {
		font: inherit;
	}
	img,
	picture,
	svg,
	canvas {
		display: block;
		max-inline-size: 100%;
		height: auto;
	}
	* {
		transition-duration: 300ms;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms;
			animation-iteration-count: 1;
			transition-duration: 0.01ms;
			scroll-behavior: auto;
		}
	}
}

@layer base {
	body {
		margin: unset;
		color: var(--color-typography);
		font-family: var(--font-open-sans);
		font-display: swap;
	}

	@font-face {
		font-family: "Economica";
		src: url("./economica.woff2") format("woff2");
		font-weight: 700;
		font-display: swap;
	}

	@font-face {
		font-family: "Open Sans";
		src: url("./open_sans.woff2") format("woff2");
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: "Open Sans";
		src: url("./open_sans_semibold.woff2") format("woff2");
		font-weight: 600;
		font-display: swap;
	}

	* {
		@apply border-border outline-ring/50;
	}
}

:root {
	/* Tier 1 */
	--yellow: hsl(39, 100%, 93%);
	--yellow-alt: hsl(40, 100%, 98%);
	--purple-lightest: hsl(285, 62%, 94%);
	--purple-light: hsl(284, 36%, 59%);
	--purple-dark: hsl(284, 36%, 28%);
	--purple: hsl(276, 26%, 50%);
	--purple-alt: hsl(284, 26%, 41%);
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
	--gray: hsl(0, 0%, 91%);
	--gray-alt: hsl(213, 9%, 62%);

	--font-economica: "Economica", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;

	/* Tier 2 */
	--color-background: var(--yellow);
	--color-background-active: var(--purple);
	--color-background-alt: var(--yellow-alt);
	--color-typography: var(--black);
	--color-typography-alt: var(--white);
	--color-border: var(--purple-alt);
	--color-active: var(--purple-light);
	--ring: var(--purple);

	/* Tier 3 */
	--color-nav-background: var(--color-background);
	--color-nav-background-active: var(--color-active);
	--color-header-background: var(--color-background);

	--color-button-background: var(--white);
	--color-button-typography: var(--purple-alt);
	--color-button-border: var(--color-border);

	--color-button-typography-hover: var(--purple);
	--color-button-border-hover: var(--purple);

	--color-button-typography-active: var(--purple-dark);
	--color-button-border-active: var(--purple-dark);

	--color-button-active-background: var(--color-active);
	--color-button-active-typography: var(--color-typography-alt);
	--color-button-active-border: var(--color-active);

	--color-input-background: var(--white);
	--color-input-border: var(--gray);
	--color-input-typography: var(--color-typography);
	--color-select-background-selected: var(--purple-lightest);
	--color-input-start-icon: var(--gray-alt);

	--color-tooltip-background: var(--white);
	--color-divider: var(--gray);

	--color-spinner: var(--purple);

	--chart-legend-background: var(--purple);

	/* Shadcn UI */
	--radius: 0.625rem;
	--background: hsl(0, 0%, 100%);
	--foreground: hsl(0, 0%, 4%);
	--card: hsl(0, 0%, 100%);
	--card-foreground: hsl(0, 0%, 4%);
	--popover: hsl(0, 0%, 100%);
	--popover-foreground: hsl(0, 0%, 4%);
	--primary: hsl(0, 0%, 9%);
	--primary-foreground: hsl(0, 0%, 98%);
	--secondary: hsl(0, 0%, 96%);
	--secondary-foreground: hsl(0, 0%, 9%);
	--muted: hsl(0, 0%, 96%);
	--muted-foreground: hsl(217, 27%, 30%);
	--accent: hsl(0, 0%, 96%);
	--accent-foreground: hsl(0, 0%, 9%);
	--destructive: hsl(357, 100%, 45%);
	--border: hsl(0, 0%, 90%);
	--chart-1: hsl(18, 100%, 48%);
	--chart-2: hsl(175, 100%, 29%);
	--chart-3: hsl(196, 72%, 23%);
	--chart-4: hsl(44, 100%, 50%);
	--chart-5: hsl(36, 100%, 50%);
	--sidebar: hsl(0, 0%, 98%);
	--sidebar-foreground: hsl(0, 0%, 4%);
	--sidebar-primary: hsl(0, 0%, 9%);
	--sidebar-primary-foreground: hsl(0, 0%, 98%);
	--sidebar-accent: hsl(0, 0%, 96%);
	--sidebar-accent-foreground: hsl(0, 0%, 9%);
	--sidebar-border: hsl(0, 0%, 90%);
	--sidebar-ring: hsl(0, 0%, 63%);
}

@theme {
	--color-background: var(--color-background);
	--color-background-alt: var(--color-background-alt);
	--color-typography: var(--color-typography);
	--color-typography-alt: var(--color-typography-alt);
	--color-nav-background: var(--color-nav-background);
	--color-nav-background-active: var(--color-nav-background-active);
	--color-header-background: var(--color-header-background);

	--color-button-background: var(--color-button-background);
	--color-button-background-active: var(--color-button-background-active);
	--color-button-border: var(--color-button-border);
	--color-ring: var(--color-ring);

	/* Font */
	--font-economica: var(--font-economica);
	--font-open-sans: var(--font-open-sans);

	/* Button */
	--color-button-background: var(--color-button-background);
	--color-button-typography: var(--color-button-typography);
	--color-button-border: var(--color-button-border);
	--color-button-typography-hover: var(--color-button-typography-hover);
	--color-button-border-hover: var(--color-button-border-hover);
	--color-button-typography-active: var(--color-button-typography-active);
	--color-button-border-active: var(--color-button-border-active);

	--color-button-active-background: var(--color-button-active-background);
	--color-button-active-typography: var(--color-button-active-typography);
	--color-button-active-border: var(--color-button-active-border);

	/* Input Group */
	--color-input-background: var(--color-input-background);
	--color-input-border: var(--color-input-border);
	--color-input-typography: var(--color-input-typography);
	--color-select-background-selected: var(--color-select-background-selected);
	--color-input-start-icon: var(--color-input-start-icon);

	--color-tooltip-background: var(--color-tooltip-background);
	--color-divider: var(--color-divider);

	--color-spinner: var(--color-spinner);
	--color-chart-legend-background: var(--chart-legend-background);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-ring: var(--gray);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer components {
	.economica {
		font-family: var(--font-economica);
		@apply uppercase text-base font-bold;
	}
}
